.folders {
    width: calc((200px / 100) * 110);
    height: 100%;

    background-color: #F4F6F8;
    border: 1px solid #F1F1F1;

    padding-top: env(safe-area-inset-top, 20px);

    transition: all 0.5s ease;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 480px) {
    .folders {
        position: absolute;
        left: 0;
        top: 0;

        width: 70%;
        border: none;
    }

    .folders.active {
        width: 70%;
    }
}