.folders {
    padding: calc(50px * 1.1) calc(20px * 1.1);

    width: calc(200px * 1.1);
    height: 100%;

    background-color: #F4F6F8;
    border: 1px solid #F1F1F1;

    display: flex;
    flex-direction: column;
    gap: calc(30px * 1.1);

    transition: all 0.5s ease;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.folders__add {
    padding: calc(10px * 1.1);

    width: 100%;

    display: flex;
    align-items: center;
    gap: calc(10px * 1.1);

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #767676;

    background-color: transparent;
    border-radius: calc(4px * 1.1);

    cursor: pointer;
}

.folders__add-icon {
    width: calc(10px * 1.1);
    height: calc(10px * 1.1);
}

.folders__all {
    padding: calc(10px * 1.1);

    width: 100%;

    display: flex;
    align-items: center;
    gap: calc(10px * 1.1);

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: black;

    background-color: transparent;
    border-radius: calc(4px * 1.1);

    transition: 0.3s ease;

    cursor: pointer;

    &.active {
        background-color: white;
    }
}

@media (hover: hover) {
    .folders__all:hover {
        background-color: white;
    }
}

.folders__all-icon {
    width: calc(12px * 1.1);
    height: calc(10px * 1.1);
}

.folders__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &:not(:hover) .folders__folder.active {
        background-color: white;
    }
}

.folders__folder {
    padding: calc(10px * 1.1);

    width: 100%;

    display: flex;
    align-items: center;
    gap: calc(10px * 1.1);

    position: relative;

    background-color: transparent;
    border-radius: calc(4px * 1.1);

    transition: 0.3s ease;

    cursor: pointer;

    &:hover {
        background-color: white;
    }
}

@media (hover: hover) {
    .folders__folder:hover {
        background-color: white;
    }
}

.folders__folder-color {
    width: calc(10px * 1.1);
    height: calc(10px * 1.1);

    border-radius: 50%;
}

.folders__folder-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: black;

    text-align: start;

    width: 75%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.folders__folder.active .folders__folder-delete {
    opacity: 1;
}

.folders__folder-delete {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    transition: all 0.3s ease;

    opacity: 0;
}

@media (hover: hover) {
    .folders__folder:hover {

        .folders__folder-delete {
            opacity: 1;
        }
    }
}

@media (max-width: 480px) {
    .folders {
        padding: calc(30px * 1.1) calc(20px * 1.1);

        position: absolute;
        left: 0;
        top: 0;

        width: 70%;

        border: none;
    }

    body.is-webapp .folders {
        padding: calc(70px * 1.1) calc(20px * 1.1);
    }
}