.folder {
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.folder__row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.folder input {
    max-width: calc(100% - 30px);

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: calc(32px * 1.1);
    line-height: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.folder input.editing {
    text-overflow: clip;
}

.folder__row-change {
    width: calc(15px * 1.1);
    height: calc(15px * 1.1);

    cursor: pointer;
}

.folder__line {
    width: 100%;
    height: 1px;

    background-color: #F2F2F2;
}

@media (max-width: 480px) {
    .folder {

        & > input {
            max-width: 50%;

            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: calc(32px * 1.1);
            line-height: 100%;
        }
    }
}