.create {
    opacity: 0;

    padding: calc(20px * 1.1);

    width: calc(235px * 1.1);

    display: flex;
    flex-direction: column;
    gap: calc(15px * 1.1);

    position: fixed;
    left: -300px;
    bottom: calc(30px * 1.1);
    transform: rotate(-30deg);

    background-color: white;
    border-radius: calc(10px * 1.1);
    box-shadow: 0 calc(5px * 1.1) calc(10px * 1.1) #0000000D;

    transition: all 0.5s ease;

    &.active {
        opacity: 1;

        left: calc(30px * 1.1);
        transform: rotate(0deg);
    }
}

.create__close {
    width: calc(20px * 1.1);
    height: calc(20px * 1.1);

    position: absolute;
    right: -5px;
    top: -5px;

    color: #5C5C5C;

    cursor: pointer;
}

.create__input {
    padding: calc(8px * 1.1) calc(10px * 1.1);

    background-color: white;
    border-radius: calc(4px * 1.1);
    border: 1px solid #EFEFEF;

    font-weight: 400;
    font-size: calc(14px * 1.1);
    line-height: 100%;
    color: #C7C7C7;

    &::placeholder {
        font-weight: 400;
        font-size: calc(14px * 1.1);
        line-height: 100%;
        color: #C7C7C7;
    }
}

.colors {
    display: flex;
    justify-content: space-between;
}

.color {
    width: calc(20px * 1.1);
    height: calc(20px * 1.1);

    border: 2px solid transparent;

    border-radius: 50%;

    transition: all 0.3s ease;

    cursor: pointer;

    &.active {
        border: 2px solid #525252;

        cursor: default;
    }
}

.create__submit {
    padding: calc(10px * 1.1);

    font-weight: 400;
    font-size: calc(14px * 1.1);
    line-height: 100%;
    color: white;

    background-color: #4DD599;
    border-radius: calc(4px * 1.1);

    cursor: pointer;
}

@media (max-width: 480px) {
    .create {
        display: none;
    }
}