.create {
    opacity: 0;

    padding: calc((20px / 100) * 110);

    width: calc((235px / 100) * 110);

    display: flex;
    flex-direction: column;
    gap: calc((15px / 100) * 110);

    position: fixed;
    left: -300px;
    bottom: calc((30px / 100) * 110);

    transform: rotate(-30deg);

    background-color: white;
    border-radius: calc((10px / 100) * 110);
    box-shadow: 0 calc((5px / 100) * 110) calc((10px / 100) * 110) #0000000D;

    transition: all 0.5s ease;

    &.active {
        opacity: 1;

        left: calc((30px / 100) * 110);

        transform: rotate(0deg);
    }
}

.create__close {
    width: calc((20px / 100) * 110);
    height: calc((20px / 100) * 110);

    position: absolute;
    right: -5px;
    top: -5px;

    color: #5C5C5C;

    transition: transform 0.1s ease, opacity 0.2s ease;
}

@media (hover: hover) {
    .create__close:hover {
        opacity: 0.9;

        transform: scale(1.05);

        cursor: pointer;
    }

    .create__close:active {
        opacity: 0.75;

        transform: scale(0.9);

        cursor: pointer;
    }
}

@media (hover: none) {
    .create__close:active {
        opacity: 0.75;

        transform: scale(0.9);
    }
}

.create__input {
    padding: calc((8px / 100) * 110) calc((10px / 100) * 110);

    background-color: white;
    border-radius: 4px;
    border: calc((1px / 100) * 110) solid #EFEFEF;

    font-weight: 400;
    font-size: calc((14px / 100) * 110);
    line-height: 100%;
    letter-spacing: calc((0.15px / 100) * 110);
    color: #C7C7C7;

    text-transform: capitalize;

    &::placeholder {
        font-weight: 400;
        font-size: calc((14px / 100) * 110);
        line-height: 100%;
        letter-spacing: calc((0.15px / 100) * 110);
        color: #C7C7C7;
    }
}

.colors {
    display: flex;
    justify-content: space-between;
}

.color {
    width: calc((20px / 100) * 110);
    height: calc((20px / 100) * 110);

    border: calc((2px / 100) * 110) solid transparent;

    border-radius: 50%;

    transition: all 0.3s ease;

    cursor: pointer;

    &.active {
        border: calc((2px / 100) * 110) solid #525252;
    }
}

.create__submit {
    padding: calc((10px / 100) * 110);

    font-weight: 400;
    font-size: calc((14px / 100) * 110);
    line-height: 100%;
    letter-spacing: calc((0.15px / 100) * 110);
    color: white;

    background-color: #4DD599;
    border-radius: calc((4px / 100) * 110);
    border: calc((1px / 100) * 110) solid transparent;

    transition: transform 0.1s ease, opacity 0.2s ease;
}

@media (hover: hover) {
    .create__submit:hover {
        cursor: pointer;
    }

    .create__submit:active {
        opacity: 0.75;

        transform: scale(0.95);

        cursor: pointer;
    }
}

@media (hover: none) {
    .create__submit:active {
        opacity: 0.75;

        transform: scale(0.95);
    }
}