.todos {
    width: calc(100% - calc((200px / 100) * 110));

    background-color: white;

    transition: all 0.5s ease;

    padding-top: env(safe-area-inset-top, 20px);
}

@media (max-width: 480px) {
    .todos {
        width: 35%;

        border: 1px solid #F1F1F1;
        border-top-left-radius: 36px;
        border-bottom-left-radius: 36px;
    }

    .todos.active {
        width: 100%;

        border: 1px solid transparent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}