.todos {
    padding: calc((50px / 100) * 110) calc((50px / 100) * 110);

    width: calc(100% - calc((200px / 100) * 110));

    background-color: white;

    transition: all 0.5s ease;

    /*padding-top: env(safe-area-inset-top, 20px);*/

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

}

@media (max-width: 480px) {
    .todos {
        position: absolute;
        left: 70%;
        top: 0;

        padding: calc((30px / 100) * 110) calc((20px / 100) * 110);

        width: 100%;
        height: 100%;

        border: 1px solid #F1F1F1;
        border-top-left-radius: 36px;
        border-bottom-left-radius: 36px;
    }

    .todos.active {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;

        border: 1px solid transparent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}